@import url("https://fonts.googleapis.com/css?family=Roboto:100");
body {
    font-family : 'Roboto' , sans-serif;
    font-size: 24px;
    background-color: paleturquoise;
    color: navy;
}

#art{
    border: 5px solid cornflowerblue;
    border-radius: 7px;
    float: left;
    z-index: 5;
}

.command{
    margin-left: 20px;
    opacity: 1;
    z-index: 5;
}

.command:hover{
    margin-left: 20px;
    opacity: 0.5;
    z-index: 5;
}

.color{
  width: 20px;
  height: 20px;
  float: left;
  margin-top: 5px;
  margin-left: 20px;
  cursor: pointer;
  border: outset;
}

.thickness{
    margin-left: 20px;
}

#crimson {
    background-color: crimson;
  }
  #royalblue {
    background-color: royalblue;
  }
  #limegreen {
    background-color: limegreen;
  }
  #mediumorchid {
    background-color: mediumorchid;
  }
  #gold {
    background-color: gold;
  }
  #darkorange {
    background-color: darkorange;
  }
  #hotpink{
    background-color: hotpink;
  }
  #black {
    background-color: black;
  }
  #white {
   background-color: white;
  }

  .inner_row{
      display: flex;
      flex-direction: row;
  }

  #inner_col{
      display: flex;
      flex-direction: column;
      margin-left: 25px;
  }

  #text{
      margin-right: 25px;
  }
  
  #util_box{
      padding-top: 50px;
      padding-bottom: 70px;
  }

  .text-style {
    float: left;
    display: none;
    position: absolute;
    font: 28px orbitron;
    word-break: break-all;
    background-color: transparent;
    resize: none;
    z-index: 1;
}